body {
    /* Фоновое изображение */
    background-image: url('mylove.jpg');
    /* Масштабируем фон на всю область */
    background-size: cover;
    /* Выравниваем фон по центру */
    background-position: center;
    /* Используем flexbox для центрирования */
    display: flex;
    /* Центрируем по горизонтали */
    justify-content: center;
    /* Центрируем по вертикали */
    align-items: center;
    /* Задаем высоту равную высоте окна браузера */
    height: 100vh;
    /* Цвет фона */
    background-color: #514442;
    transition: background-image 3s ease; /* Плавное переключение заднего фона в течение 1 секунды */
  }
  
  /* Стили для контейнера */
  .container {
    /* Устанавливаем позиционирование */
    position: relative;
  }
  .front {
    position: relative;
  }
  
  .front p {
    position: absolute;
    top: 50%;
    white-space: nowrap;
    left: calc(50% + 29px); /* Изменение здесь */
    pointer-events: none;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgb(192, 22, 22);
    z-index: 10;
  }
  /* Стили для элементов валентинки */
  .valentines {
    /* Устанавливаем позиционирование */
    position: relative;
    /* Смещаем вверх на 50px */
    top: 50px;
    /* Устанавливаем курсор указателя */
    cursor: pointer;
    /* Запускаем анимацию */
    animation: up 3s linear infinite;
  }
  
  /* Анимация для валентинки */
  @keyframes up {
    0%,
    100% {
      /* Начальное и конечное положение */
      transform: translateY(0);
    }
    50% {
      /* Положение через половину времени */
      transform: translateY(-30px);
    }
  }
  
  /* Стили для конверта */
  .envelope {
    /* Устанавливаем позиционирование */
    position: relative;
    /* Задаем ширину */
    width: 300px;
    /* Задаем высоту */
    height: 200px;
    /* Цвет фона */
    background-color: #f08080;
  }
  
  /* Псевдоэлемент для конверта */
  .envelope:before {
    /* Цвет фона */
    background-color: #f08080;
    /* Добавляем контент */
    content: '';
    /* Устанавливаем позиционирование */
    position: absolute;
    /* Задаем ширину */
    width: 212px;
    /* Задаем высоту */
    height: 212px;
    /* Поворачиваем элемент на 45 градусов */
    transform: rotate(45deg);
    /* Смещаем вверх на 105px */
    top: -105px;
    /* Смещаем влево на 44px */
    left: 44px;
    /* Задаем радиус скругления углов */
    border-radius: 30px 0 0 0;
  }
  
  /* Стили для карты */
  .card {
    /* Устанавливаем позиционирование */
    position: absolute;
    /* Цвет фона */
    background-color: #eae2b7;
    /* Задаем ширину */
    width: 270px;
    /* Задаем высоту */
    height: 170px;
    /* Устанавливаем расположение */
    top: 5px;
    left: 15px;
    /* Создаем тень */
    box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4);
  }
  
  /* Псевдоэлемент для карты */
  .card:before {
    /* Добавляем контент */
    content: '';
    /* Устанавливаем позиционирование */
    position: absolute;
    /* Устанавливаем границу */
    border: 3px solid #003049;
    /* Задаем ширину */
    width: 259px;
    /* Задаем высоту */
    height: 159px;
    /* Располагаем элемент */
    left: 3px;
    top: 3px;
  }
  
  /* Стили для текста */
  .text {
    /* Устанавливаем позиционирование */
    position: absolute;
    /* Указываем шрифт */
    font-family: 'Snell Roundhand';
    /* Указываем размер шрифта */
    font-size: 20px;
    /* Устанавливаем выравнивание текста */
    text-align: center;
    /* Устанавливаем межстрочное расстояние */
    line-height: 25px;
    /* Устанавливаем расположение */
    top: 25px;
    /* Цвет текста */
    color: #003049;
  }
  
  /* Стили для сердечек */
  .heart {
    /* Цвет фона */
    background-color: #d62828;
    /* Отображение элемента как блочного */
    display: inline-block;
    /* Высота */
    height: 30px;
    /* Внешние отступы */
    margin: 0 10px;
    /* Устанавливаем позиционирование */
    position: relative;
    /* Смещаем элемент вниз */
    top: 110px;
    /* Смещаем элемент вправо */
    left: 105px;
    /* Поворачиваем элемент на -45 градусов */
    transform: rotate(-45deg);
    /* Ширина */
    width: 30px;
  }
  
  /* Псевдоэлементы для сердечек */
  .heart:before,
  .heart:after {
    /* Добавляем контент */
    content: '';
    /* Цвет фона */
    background-color: #d62828;
    /* Задаем радиус скругления углов */
    border-radius: 50%;
    /* Высота */
    height: 30px;
    /* Устанавливаем позиционирование */
    position: absolute;
    /* Ширина */
    width: 30px;
  }
  
  /* Псевдоэлемент для левой части сердечка */
  .heart:before {
    /* Смещаем вверх */
    top: -15px;
    /* Выравниваем по левому краю */
    left: 0;
  }
  
  /* Псевдоэлемент для правой части сердечка */
  .heart:after {
    /* Смещаем вправо */
    left: 15px;
    /* Выравниваем по верхнему краю */
    top: 0;
  }
  
  /* Контейнер для сердечек */
  .hearts {
    /* Устанавливаем позиционирование */
    position: absolute;
  }
  
  /* Стили для маленьких сердечек */
  .one,
  .two,
  .three,
  .four,
  .five {
    /* Цвет фона */
    background-color: red;
    /* Отображение элемента как блочного */
    display: inline-block;
    /* Высота */
    height: 10px;
    /* Внешние отступы */
    margin: 0 10px;
    /* Устанавливаем позиционирование */
    position: relative;
    /* Поворачиваем элемент на -45 градусов */
    transform: rotate(-45deg);
    /* Ширина */
    width: 10px;
    /* Смещаем вниз */
    top: 50px;
  }
  
  /* Псевдоэлементы для маленьких сердечек */
  .one:before,
  .one:after,
  .two:before,
  .two:after,
  .three:before,
  .three:after,
  .four:before,
  .four:after,
  .five:before,
  .five:after {
    /* Добавляем контент */
    content: '';
    /* Цвет фона */
    background-color: red;
    /* Задаем радиус скругления углов */
    border-radius: 50%;
    /* Высота */
    height: 10px;
    /* Устанавливаем позиционирование */
    position: absolute;
    /* Ширина */
    width: 10px;
  }
  
  /* Псевдоэлемент для левой части маленького сердечка */
  .one:before,
  .two:before,
  .three:before,
  .four:before,
  .five:before {
    /* Смещаем вверх */
    top: -5px;
    /* Выравниваем по левому краю */
    left: 0;
  }
  
  /* Псевдоэлемент для правой части маленького сердечка */
  .one:after,
  .two:after,
  .three:after,
  .four:after,
  .five:after {
    /* Смещаем вправо */
    left: 5px;
    /* Выравниваем по верхнему краю */
    top: 0;
  }
  
  /* Анимация для сердечек */
  .one {
    /* Смещаем влево */
    left: 10px;
    /* Применяем анимацию */
    animation: heart 1s ease-out infinite;
  }
  
  .two {
    /* Смещаем влево */
    left: 30px;
    /* Применяем анимацию */
    animation: heart 2s ease-out infinite;
  }
  
  /* Стили для маленьких сердечек (третье, четвертое и пятое сердечко) */
  .three {
    /* Смещаем сердечко влево на 50px */
    left: 50px;
    /* Применяем анимацию heart на 1.5s с эффектом ease-out и бесконечное повторение */
    animation: heart 1.5s ease-out infinite;
  }
  
  .four {
    /* Смещаем сердечко влево на 70px */
    left: 70px;
    /* Применяем анимацию heart на 2.3s с эффектом ease-out и бесконечное повторение */
    animation: heart 2.3s ease-out infinite;
  }
  
  .five {
    /* Смещаем сердечко влево на 90px */
    left: 90px;
    /* Применяем анимацию heart на 1.7s с эффектом ease-out и бесконечное повторение */
    animation: heart 1.7s ease-out infinite;
  }
  
  /* Анимация для сердечек */
  @keyframes heart {
    /* Начальный ключевой кадр */
    0% {
      /* Применяем трансформацию: сначала сердечко опускается вниз, поворачивается и уменьшается в размере */
      transform: translateY(0) rotate(-45deg) scale(0.3);
      /* Устанавливаем начальную прозрачность */
      opacity: 1;
    }
    /* Конечный ключевой кадр */
    100% {
      /* Применяем трансформацию: сердечко поднимается вверх, поворачивается и увеличивается в размере */
      transform: translateY(-150px) rotate(-45deg) scale(1.3);
      /* Устанавливаем конечную прозрачность */
      opacity: 0.5;
    }
  }
  
  /* Стили для фронтальной части */
  .front {
    /* Устанавливаем позицию абсолютной */
    position: absolute;
    /* Устанавливаем правую границу с рамкой шириной 180px и цветом #f4978e */
    border-right: 180px solid #f4978e;
    /* Устанавливаем верхнюю границу с прозрачным верхним треугольником шириной 95px */
    border-top: 95px solid transparent;
    /* Устанавливаем нижнюю границу с прозрачным нижним треугольником шириной 100px */
    border-bottom: 100px solid transparent;
    /* Устанавливаем позицию слева на 120px */
    left: 120px;
    /* Устанавливаем позицию сверху на 5px */
    top: 5px;
    /* Устанавливаем нулевую ширину */
    width: 0;
    /* Устанавливаем нулевую высоту */
    height: 0;
    /* Устанавливаем z-index на 10 */
    z-index: 10;
  }
  
  /* Псевдоэлемент для фронтальной части */
  .front:before {
    /* Устанавливаем позицию абсолютной */
    position: absolute;
    /* Добавляем контент */
    content: '';
    /* Устанавливаем левую границу с рамкой шириной 300px и цветом #f8ad9d */
    border-left: 300px solid #f8ad9d;
    /* Устанавливаем верхнюю границу с прозрачным верхним треугольником шириной 195px */
    border-top: 195px solid transparent;
    /* Устанавливаем позицию слева на -120px */
    left: -120px;
    /* Устанавливаем позицию сверху на -95px */
    top: -95px;
    /* Устанавливаем нулевую ширину */
    width: 0;
    /* Устанавливаем нулевую высоту */
    height: 0;
  }
  
  /* Тень для открытого конверта */
  .shadow {
    /* Устанавливаем позицию абсолютной */
    position: absolute;
    /* Ширина */
    width: 330px;
    /* Высота */
    height: 25px;
    /* Радиус скругления углов */
    border-radius: 50%;
    /* Цвет фона с полупрозрачным черным */
    background-color: rgba(0, 0, 0, 0.3);
    /* Устанавливаем позицию сверху на 265px */
    top: 265px;
    /* Устанавливаем позицию слева на -15px */
    left: -15px;
    /* Анимация масштабирования с периодом 3s и бесконечным повторением */
    animation: scale 3s linear infinite;
    /* Устанавливаем z-index на -1 */
    z-index: -1;
  }
  
  /* Анимация масштабирования */
  @keyframes scale {
    /* Начальный и конечный ключевые кадры */
    0%,
    100% {
      /* Масштабирование по оси X */
      transform: scaleX(1);
    }
    /* Средний ключевой кадр */
    50% {
      /* Масштабирование по оси X с коэффициентом 0.85 */
      transform: scaleX(0.85);
    }
  }